:root {
  --primary-black: #161616;
  --secondary-yellow: #ffd027;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
  font-size: 100%;
  font-weight: 500;
  cursor: pointer;
}

.container {
  /* height: 100vh; */
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 26vh auto;
}

/* HEADER */

.header {
  display: grid;
  grid-template-rows: 1fr 2fr;
  position: relative;
  box-shadow: 0 1px 7px rgb(0 0 0 / 0.2);
}

.top-bar {
  padding-left: 2.4em;
  padding-right: 6em;
  padding-top: 15px;
  display: flex;
  align-items: center;
}

.top-bar label {
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-basis: 600px;
}

.top-bar .search-icon {
  width: 1.7em;
  height: 1.7em;
  cursor: pointer;
}

.top-bar input {
  flex-grow: 1;
  padding: 0.7em 1.2em;
  border: 0;
  border-radius: 50px;
  background: #e2e8f0;
  margin-left: 1em;
}

.top-bar input:focus {
  outline-color: var(--primary-black);
}

.top-bar .bell-icon {
  width: 1.4em;
  height: 1.4em;
}

.top-bar .profile-pic {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
  margin-left: 1.5em;
  margin-right: 1em;
}

.top-bar .profile-name {
  font-weight: 600;
}

.user-panel {
  padding-left: 2.4em;
  padding-right: 4em;
  padding-top: 16px;
  display: flex;
  align-items: center;
}

.user-panel .profile-pic-lg {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 100%;
}

.user-panel .welcome-msg {
  margin-right: auto;
  font-weight: 600;
  margin-left: 1em;
}

.welcome-msg span {
  display: block;
  font-size: 1.3rem;
  font-weight: 800;
}

.user-btns {
  display: flex;
  gap: 1.4em;
}

.user-btns button {
  border: 0;
  font-size: 0.9rem;
  padding: 0.6em 1.8em;
  border-radius: 100px;
  background: var(--secondary-yellow);
}

.user-btns button:hover {
  background: var(--secondary-yellow);
}

/* SIDEBAR */

.sidebar {
  background-color: var(--primary-black);
  color: #fff;
  grid-column: 1;
  grid-row: 1 / -1;
  padding: 1.4em 0.8em;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 0.4em;
}

.logo img {
  width: 30px;
  height: 30px;
}

.logo span {
  font-size: 1.2rem;
  font-weight: 700;
}

.main-menu {
  margin-top: 2.2em;
  margin-bottom: 2.5em;
}

.main-menu ul li,
.secondary-menu ul li {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.7em;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.2s;
}

.main-menu ul li:hover,
.secondary-menu ul li:hover {
  background-color: rgb(255 255 255 / 0.13);
}

.main-menu svg,
.secondary-menu svg {
  width: 20px;
  fill: #e1e1e1;
  transition: fill 0.2s;
}

.main-menu ul li:hover svg,
.secondary-menu ul li:hover svg {
  fill: var(--secondary-yellow);
}

.main-menu a,
.secondary-menu a {
  text-decoration: none;
  color: #e1e1e1;
  font-weight: 500;
  transition: color 0.2s;
}

.main-menu ul li:hover a,
.secondary-menu ul li:hover a {
  color: var(--secondary-yellow);
}

/* MAIN */

.main {
  background-color: #e2e8f0;
  padding: 2em 2em 2em 1.5em;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto;
  gap: 2em;
}

.projects {
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
}

.project-box {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1.5em;
  margin-top: 1em;
}

.projects-title {
  grid-column: 1 / -1;
}

.project-card {
  background-color: #fff;
  border-radius: 5px;
  padding: 1.5em;
  border-left: 7px solid var(--secondary-yellow);
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 0.2);
}

.project-card p {
  margin-top: 0.5em;
  margin-bottom: 0.8em;
  flex-grow: 1;
}

.user-elements {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.2em;
}

.user-elements svg {
  width: 38px;
  height: 38px;
  cursor: pointer;
  padding: 0.4em;
  border-radius: 7px;
  transition: all 0.2s;
}

.user-elements svg:hover {
  background: var(--primary-black);
  fill: var(--secondary-yellow);
}

.trends {
  grid-column: 2;
}

/* ANNOUNCEMENTS */
.announcement-box {
  margin-top: 1em;
  background-color: #fff;
  border-radius: 5px;
  padding: 1.5em;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 0.2);
}

.ac-card:not(:first-child) {
  padding-top: 1em;
}

.ac-card:not(:last-child) {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1.2em;
}

.ac-card h3 {
  font-size: 1rem;
}

.ac-card p {
  margin-top: 0.5em;
}

/* TRENDS */
.trends-box {
  margin-top: 1em;
  background-color: #fff;
  border-radius: 5px;
  padding: 1.5em;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 1.5em;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 0.2);
}

.trend-card {
  display: flex;
  align-items: center;
  gap: 1em;
  font-weight: 500;
}

.trend-card img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.trend-card p span {
  display: block;
  color: #606060;
  margin-top: 0.2em;
}
